.dockerignore
.DS_Store
.git*
.idea
*.egg-info
*.key
*.pem
.*_cache

docker-compose.yml
docker-plastron.yml

.pytest_cache/
data/
dist/
exports/
jobs/
logs/
msg/
plastron.egg-info/

# SSH Keys
archelon_id
archelon_id.pub
