.dockerignore
.DS_Store
.git*
.idea
*.egg-info
*.key
*.pem
.*_cache

Dockerfile
docker-compose.yml
docker-plastron.yml

.mypy_cache/
.pytest_cache/
.tox/
build/
config/
data/
dist/
exports/
jobs/
logs/
msg/
plastron.egg-info/
site/
tests/

# SSH Keys
archelon_id
archelon_id.pub
