**/.dockerignore
**/.DS_Store
**/.git*
**/*.egg-info
**/*.key
**/*.pem
**/.*_cache
**/build
**/dist
**/Dockerfile
**/__pycache__
**/tests
**/.tox

docker-compose.yml
docker-plastron.yml

.idea
config/
data/
dist/
exports/
jobs/
logs/
msg/
site/

# SSH Keys
archelon_id
archelon_id.pub
