attrs==20.3.0
bagit==1.7.0
bcrypt==3.2.0
beautifulsoup4==4.9.3
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
cryptography==3.3.1
DateTime==4.3
docopt==0.6.2
edtf==4.0.1
edtf-validate==1.1.0
idna==2.10
importlib-metadata==3.4.0
iniconfig==1.1.1
iso639==0.1.4
isodate==0.6.0
jwcrypto==0.8
lxml==4.6.2
numpy==1.17.1
packaging==20.8
paramiko==2.7.2
pathtools==0.1.2
Pillow==8.1.0
pluggy==0.13.1
py==1.10.0
pycparser==2.20
PyNaCl==1.4.0
pyparsing==2.4.7
pytest==6.2.2
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
rdflib==5.0.0
rdflib-jsonld==0.5.0
requests==2.25.1
six==1.15.0
soupsieve==2.1
stomp.py==4.1.21
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.3
watchdog==0.10.3
zipp==3.4.0
zope.interface==5.2.0
