iso639
pyparsing
edtf
jwcrypto==0.8
setuptools==39.0.1
rdflib==4.2.1
rdflib-jsonld==0.5.0
requests>=2.20.0
lxml>3.6.0
PyYAML>3.12
paramiko>=2.4.2
Pillow>=6.2.2
pytest
stomp.py==4.1.21
numpy==1.17.1
watchdog==0.10.3
bagit~=1.7.0
BeautifulSoup4
